.App {
    display: flex;
    height: 100%;
    flex-direction: row;
}

#nav-bar {
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    order: 0;
}

#content {
    width: 100%;
    order: 1;
    margin: 0px;
}