  .btn {
     color: white;
     margin-left: 0;
     margin-right: 30px;
     padding: 0.5rem;
     border-radius: 10px;
     background-color: #002f6c;
     border: none;
     font-weight: bold;
     min-width: 6rem;
     width: auto;
     font-size: 1rem;
     height: 38px;
     font-family: inherit;
     display: inline-block;
 }

 .btn:hover {
     background-color: #0350b4;
 }

 a.btn {
     text-decoration: none;
     text-align: center;
 }

 .text-center {
     text-align: center;
 }

.btn-delete {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 0.6rem;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

 label {
     display: block;
 }

 input {
     display: block;
     width: 100%;
 }