.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.checkbox-group *{
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group > textarea {
    resize: vertical;
    width: 100%;
    height: auto;
}

.w {
    width: 60%;
}

.mb {
    margin-bottom: 20px;
}

.container-medium {
    width: 60%
}

.nav-spacing {
    margin-left: 20px;
}